.carousel {
  height: 480px !important;

  &-item {
    &-text {
      @include transition-all(.3s);
      @include respond-to(xs) {
        @include transition-all(.3s);
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 25%;
      }
      @include respond-to(lg) {
        top: 25px;
      }
      box-sizing: border-box;
      color: $white;
      height: 150px;
      padding: 0 2rem;
      position: absolute;
      right: 0;
      top: 25%;
      vertical-align: middle;
      width: 600px;
      z-index: 2;

      > h3 {
        font-size: 2rem;
        font-weight: bold;
      }
      > p {
        font-size: 1.3rem !important;
        letter-spacing: .3px;
        line-height: 1.5rem;
        margin-top: 8px;
      }
    }
  }
}
.text-left {
  // left: 0; // animation: 'fade',
  text-align: left;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 95%);
}

.text-right {
  @extend .text-left;
  @include respond-to(md) {
    @include transition-all(.3s);
  //right: 0;  // animation: "fade"
    margin-left: 1.45%; // animation: 'slide',
    text-align: right;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 95%)
  }
  @include respond-to(lg) {
    @include transition-all(.3s);
    margin-left: 2.89%; // animation: 'slide',
  }
  @media screen and (min-width: 1140px) {
    @include transition-all(.3s);
    margin-left: 3.3%;
  }
  @include respond-to(xl) {
    @include transition-all(.3s);
    margin-left: 3.75%; // animation: 'slide',
  }
}
