@charset 'UTF-8';
@import '../../static/scss/variables';

.home {
  padding-top: $heigth-navbar;
  .titulo {
    h1 {
      position: relative;
      top: -1rem;
    }
  }

  .sub-titulo {
    color: $orange;
  }
  
  .imagenHome {
    height: 100px;
  }

  &-section {
    padding-top: $heigth-navbar;
  }
}

